body {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration: none ; 
}
h1 {
    font-size: 80px;
    color: #192b59;
    font-weight: 600;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.4px;
    margin-bottom: 65px;
}
.h2-title {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.h2-title span {
    display: block;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.title-40 {
    font-size: 40px; 
    letter-spacing: -1.1px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;

}
.title-40 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    display: block;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
}
.page-stat .h2-title, .page-screen .title-40{
    text-align: center;
    margin: 0 auto;
}
.page-stat .h2-title {
    max-width: 500px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto ;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
      
}
.nav > li{
    padding: 0 15px;
}
.nav-item {
    color: #6e7ea9;
}
.btn-group a + a{
    margin-left: 15px;

}
.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: 1px solid #cbdbe8; 
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-secondary:hover {
    color: #7e8bae; 
    background-color: #fff; 
}
.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-decoration: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;

}
.btn-free {
    letter-spacing: 1.7px;
    padding: 22px 56px;
    font-weight: 400;
   
    
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
    margin-top: 75px;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}
.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    letter-spacing: 0;
    margin-bottom: 23px;
}
.screen {
    margin-top: 70px;
    margin-bottom: -7px;
}
.box-price-item {
    background-color: #edf4fb;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
}
.box-price {
    display: flex;
    justify-content: space-between;
}
/* PAGE */

.page-stat, .page-screen  {
    background-color: #edf6ff;
    padding: 116px 0 96px 0;
}
.page-stat { 
    padding: 116px 0 96px 0;
}
.page-screen, .page-plan {
    text-align: center;
}
.page-screen {
    padding: 116px 0 0 0;
    text-align: center;
}
.page-plan{

}