body {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none ; 
}

h1 {
    font-size: 80px;
    color: #192b59;
    font-weight: 600;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.4px;
    margin-bottom: 65px;
}

.h2-title {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.h2-title span {
    display: block;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.title-40 {
    font-size: 40px; 
    letter-spacing: -1.1px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;

}

.title-40 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    display: block;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
}

.page-stat .h2-title, .page-screen .title-40{
    text-align: center;
    margin: 0 auto;
}

.page-stat .h2-title {
    max-width: 500px;
}

.page-subscribe .h2-title {
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
}

.content-app .h2-title {
    margin-bottom: 36px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto ;
    
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
    
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../image/logo.png)
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav > li{
    padding: 0 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.sqreen-img {
    display: block;
    background-image: url(../image/header-bg.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    
}

.list-company-item {
    display: block ;
}

.company-one {
    background-image: url(../image/bg_1.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../image/bg_2.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../image/bg_3.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../image/bg_4.png);
    flex-basis: 200px;
    height: 69px;
}

.btn-group a + a{
    margin-left: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    transition: .3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: 1px solid #cbdbe8; 
    padding: 20px 40px;
    border-radius: 30px;
    transition: .3s;
}

.btn-secondary:hover {
    color: #7e8bae; 
    background-color: #fff; 
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-decoration: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    transition: .3s;

}

.btn-free {
    letter-spacing: 1.7px;
    padding: 22px 56px;
    font-weight: 400; 
    transition: .3s;
}
.subscribe {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-text {
    font-size: 18px;
    max-width: 437px;
}

.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;     
    margin: 75px auto 75px;              
}

.grid-title {
    grid-area: a;
}


.grid-item {
    text-align: center;
    box-shadow: 0 0 10px #f3f3f3;
    
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.icon {
    background-repeat: no-repeat;
    display: block;
    margin: 30px auto 36px;
}

.greed-icon-1 {
    background-image: url(../image/icon2.png);
    width: 73px;
    height: 79px;
}

.greed-icon-2 {
    background-image: url(../image/icon3.png);
    width: 90px;
    height: 86px;
}

.greed-icon-3 {
    background-image: url(../image/icon1.png);
    width: 79px;
    height: 79px;
}

.greed-icon-4 {
    background-image: url(../image/icon6.png);
    width: 104px;
    height: 92px;
}
.greed-icon-5 {
    background-image: url(../image/icon5.png);
    width: 85px;
    height: 91px;
}

.greed-icon-6 {
    background-image: url(../image/icon4.png);
    width: 100px;
    height: 88px;
}

.page-settings-icon {
    background-image: url(../image/setting-icon.png);
    background-repeat: no-repeat;
    background-position: -20px 0;
    width: 115px;
    height: 87px;
}

.page-software-list {
    margin-top: 30px;
    height: 329px;
    overflow: hidden;
    overflow-y: scroll;
}
 
.page-software .h2-title, .page-analytics .h2-title, .page-stat2 .h2-title {
    width: 766px;
    margin-top: 12px;
    margin-bottom: 26px ;
}


.page-software-list dt{
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd{
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.8;
}

.page-software-flex > div {
    flex-basis: 55%;
}

.page-software-flex {
    display: flex ;
    justify-content: flex-end;
}

.image-software {
    background-image: url(../image/page-software-image1.png);
    display: block;
    height: 910px;
    width: 953px;
    background-size: 100% 100%;
    background-position: 0 0;
    position: absolute;
    left: -44px;
    bottom: 0px;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50; background-color: #1085e4; border-radius: 10px;}


.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
    margin-top: 75px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    letter-spacing: 0;
    margin-bottom: 23px;
}

.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5 px;
}

.page-app-link {
    padding: 0;
    list-style-type: none;
    margin-left: -7px;
}

.page-app-link>li {
    display: inline-block;
}

.page-app-link>li>a {
    background-image: url(../image/app-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 77px;
}

.page-app-link>li>a.page-app-link-android {
    background-position: 0 0 ;  
}

.page-app-link>li>a.page-app-link-apple {
    background-position: -191px 0 ;   
}

.content-app {
    width: 55%;
}

.video-app{
    position: absolute;
    top: -61px;
    right: -172px;
}

.flex-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-analytics>div {
    flex-basis: 53%
    
}

.page-analytics-text {
    margin-bottom: 54px;
}

.flex-stat2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-stat2-text {
    margin-bottom: 54px;
}

.flex-stat2>div {
    flex-basis: 53%
    
}

.screen {
    margin-top: 70px;
    margin-bottom: -7px;
}

.box-price-item {
    background-color: #edf4fb;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}

.box-price .btn-primary {
    padding: 20px 60px;
}

.box-price-item h3{
    color: #000958;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 17px;
}

.box-price-item h3 span{
    font-size: 20px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item:first-child h3{
    margin-bottom: 35px;
}

.box-price-item.active h3{
    font-size: 70px;
    color: #fff;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item.active span{
    font-size: 20px;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 36px;
    margin-bottom: 63px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;;
}

.btn-info {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.subscribe-user {
    position: relative;
}

.subscribe .btn-primary {
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 50px;
}

.subscribe-child {
flex-basis: 49%;
}

.subscribe-user input {
     border: 2px solid #4368b9;
     color: #fff;
     border-radius: 45px;
     background-color: transparent;
     font-size: 14px;
     padding: 25px 230px 25px 37px;
     display: block;
     width: 100%;
     box-sizing: border-box;
}

.subscribe-user input:focus, .subscribe-user .btn-primary {
    outline: none ;
}

.subscribe-user input::-webkit-input-placeholder {columns: #b1c3ee;;}
.subscribe-user input::-moz-placeholder          {color: #b1c3ee;}/* Firefox 19+ */
.subscribe-user input:-moz-placeholder           {color: #b1c3ee;}/* Firefox 18- */
.subscribe-user input:-ms-input-placeholder      {color: #b1c3ee;}

.subscribe .btn-primary {
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 50px;
}

.subscribe-child {
flex-basis: 49%;
}

.box-clients {
    display: flex;
    justify-content: space-around;
    margin-top: 63px;
}

.box-clients-item {
    background-color: #fff;
    padding: 21px 42px;
    border-radius: 10px;
    flex-basis: 31.5%;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 5px 5px #f3f3f3; 
}

.box-clients-item .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0;
    line-height: 1.1;
    letter-spacing: -0.6;
}

.box-clients-item .position {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1085e4;
}

.box-clients-item>p {
    margin-bottom: 3px;
}

.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-info>div {
    padding: 17px;
}

.box-team {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.box-team-item {
    background-color: #fff;
    flex-basis: 31.5%;
    box-shadow: 0 5px 5px #f3f3f3; 
    position: relative;
    padding: 193px 31px 42px 31px;
    box-sizing: border-box;
} 

.box-team-item .avatar { 
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box-team-item .position {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #1a88e1;
    margin-bottom: 0;
}

.box-team-item .name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
    margin-top: 8 px;
    letter-spacing: -0.9px ;
}

.box-team-item .btn-team span{
    display: block;
    background-image: url(../image/btn-team.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    align-self: center;
    
}

.box-team-item .btn-more span{
    
    background-position: -8px -4px;
    width: 20px;
    height: 21px;
}

.box-team-item .btn-fb span{
    background-position: -45px 7px;
    width: 17px;
    height: 52px;
}
.box-team-item .btn-fb:hover span{
    background-position: -42px -27px;
   
}

.box-team-item .btn-tw span{
    background-position: -78px 7px;
    width: 17px;
    height: 52px;
}
.box-team-item .btn-tw:hover span{
    background-position: -76px -27px;

}

.box-team-item .btn-be span{
    background-position: -118px 7px;
    width: 17px;
    height: 52px;
}

.box-team-item .btn-be:hover span{
    background-position: -114px -27px;
}

.box-team-item .btn-web span{
    background-position: -152px 7px;
    width: 17px;
    height: 52px;
}

.box-team-item .btn-web:hover span{
    background-position: -152px -27px;
  
}

.box-team-item .btn-more:hover span {
    background-position: -5px -39px;

}

.box-team-item .btn-more:focus {
    outline: none;  
}

.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: 0.3s;
    border: none;  
}

.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}

.team-socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

/* PAGE */

.page-header {
    background-image: url(../image/header-imqge.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 53px 0 330px 0;
    position: relative;
}

.page-company {
    background-image: url(../image/company-img.png);
    background-position: center;
    padding: 106px 0 99px;
}

.page-stat, .page-screen  {
    background-color: #edf6ff;
    padding: 116px 0 96px 0;
}

.page-stat { 
    padding: 116px 0 96px 0;
}

.page-app {
    padding:69px 0 82px 0;
}

.page-app .wrap {
    position: relative;
}

.page-analytics {
    background-image: url(../image/Home6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 157px 0 137px 0;
}

.page-stat2 {
    background-image: url(../image/page-stat2-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
    background-position: center;
  

}

.page-clients {
    position: relative;
    padding: 44px 0 0 0; 
    margin-top: 120px;
}

.page-clients::before {
    content: "";
    display: block;
    background-image: url(../image/page-clients-bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-grid {
    padding: 134px 0 118px 0;
}

.page-clients .title-40, .page-team .title-40 {
    color: #fff;
}

.page-clients .title-40 span, .page-team .title-40 span {
    color: #85c8ff;
}

.page-software {
   padding: 109px 0 156px 0;
   position: relative;
   overflow: hidden;

}

.page-plan {
    padding: 81px 0 121px 0;
}

.page-screen, .page-plan {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0 0;
    text-align: center;
}

.page-subscribe {
    padding: 25px 0 28px 0;
    color: #fff;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-team {
    text-align: center;
    background-image: url(../image/Home9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 82px 0 20px 0;
}